$color-white: hsl(0, 0%, 100%);
$lighter-white: rgb(248, 249, 250);
$color-black: hsl(0, 0%, 0%);

// $grey-light: rgb(236, 236, 236);
// $grey-light-2: rgb(250, 250, 250);
// $grey-light-3: rgb(241, 243, 246);
// $grey-dark: rgb(145, 145, 145);
// $grey-dark-2: rgb(22, 22, 22);
// $grey-dark-3: #333;

// $green: rgb(24, 204, 63);
// $lighter-green: rgb(238, 253, 248);
// $lighter-green-2: rgb(179,247,194);
// $dark-green: rgb(18, 167, 51);

// $blue: rgb(20, 90, 255);
// $light-blue: rgb(231,238,254);
// $light-blue-2: rgb(181, 201, 246);

$light-pink: rgb(255,251,242);
$light-pink-2: rgb(255, 191, 191);

// $light-grey: #F2F7F8;

$light-blue: #2295F2;
$greyish-blue: #F2F7F8;
$deep-blue: #0F60D6;
$dark-blue: #122231;
// $very-dark-blue: #0C1825;

// $light-green: #39C277;

// $light-pink: #E5489B;

// $light-purple: #7913E5;
