*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px; 9px/16px = 50%
      }
      @include respond(lg) {
        font-size: 50%; // 1rem = 8px
      }
      
      @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px
      }
}
dl, ol, ul {
    margin: 0 !important;
}

p {
  margin: 0;
}
svg {
  vertical-align:baseline !important;
}
body {
    box-sizing: inherit;
    height: 300vh;
}