body {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.heading-1 {
  font-size: 5rem;
  font-weight: bolder;

  @include respond(lg) {
    font-size: 6rem;
  }
}

.text-1 {
  font-size: 2rem;

  @include respond(lg) {
    font-size: 2.5rem;
  }
}